<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" href="#">Анкета</h5>

    <a th:href="@{/}">Назад</a>
</div>

<form method="post">
<div class="container my-0 mr-md-auto">
    <h5>Анкета</h5><br>
    <h5 th:text="${thanks}"></h5><br>
    <a th:href="@{/logout}" class="btn btn-success">Выйти</a><br>

    <tr th:each="post : ${posts}"><br>
        <td th:text="${post.id}"/></td> <td th:text="${post.question}"/></td><br>

        <input type="checkbox" th:name="result" th:value="${post.answer1}"> <td th:text="${post.answer1}"/></td><br>
        <input type="checkbox" th:name="result" th:value="${post.answer2}"> <td th:text="${post.answer2}"/></td><br>
        <input type="checkbox" th:name="result" th:value="${post.answer3}"> <td th:text="${post.answer3}"/></td><br>
    </tr>
    <br>
    <button type="submit" class="btn btn-success">Принять</button>
</div>
</form>

</body>
</html>